.painel {
  display: flex;
  flex-direction: column;
  align-items: center;

  table {
    background: #ffffff;
    border-color: #44749d;
    border-style: solid;
    width: 15.62rem;
    margin-top: 0.93rem;
  }

  .titulo-table {
    background: #44749d;
    color: #fff;
    text-align: center;
  }

  .titulo-table td {
    padding: 0.31rem;
  }
}


