<div class="painel">
    <table>
        <tbody>
            <tr class="titulo-table">
                <td colspan="4">Latas a serem utilizadas</td>
            </tr>
            <tr *ngIf="latasTinta?.lata18L">
                <td>Lata 18 Litros:</td>
                <td>{{ latasTinta?.lata18L }}</td>
            </tr>
            <tr *ngIf="latasTinta?.lata3L6M">
                <td>Lata 3,6 Litros:</td>
                <td>{{ latasTinta?.lata3L6M }}</td>
            </tr>
            <tr *ngIf="latasTinta?.lata2L5M">
                <td>Lata 2,5 Litros:</td>
                <td>{{ latasTinta?.lata2L5M }}</td>
            </tr>
            <tr *ngIf="latasTinta?.lata05M">
                <td>Lata 0,5 Mililitros:</td>
                <td>{{ latasTinta?.lata05M }}</td>
            </tr>
        </tbody>
    </table>
</div>
