$width-btn-informar: 18.75;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;

  .grupo-parede{
    display: flex;
    justify-content: space-between;
  }

  .btn-informar-lata-tinta{
    width: $width-btn-informar;
    margin-top: 1.25rem;
    padding: 0.62rem;
    background-color: #706A5C;
    font-size: 0.87rem;
    cursor: pointer;
    border-radius: 0.18rem;
    text-decoration: none;
    border: none;
    color: #fff;

    &:hover {
      background-color: #3D3C38;
    }

    &:disabled {
      background-color: #ebe7e0;
      color: #8A867F;
    }
  }
}


