<div class="container">
    <h2>
        Preencha as informações de cada parede, para saber quantas latas de tintas você irá precisar para pintá-las!
    </h2>
    <div class="grupo-parede">
        <app-parede
            titulo="1° Parede"
            [(ngModel)]="paredes.paredeUm"
        ></app-parede>
        <app-parede
            titulo="2° Parede"
            [(ngModel)]="paredes.paredeDois"
        ></app-parede>
        <app-parede
            titulo="3° Parede"
            [(ngModel)]="paredes.paredeTres"
        ></app-parede>
        <app-parede
            titulo="4° Parede"
            [(ngModel)]="paredes.paredeQuatro"
        ></app-parede>
    </div>
    <button
        [disabled]="!paredesInformada"
        type="button"
        class="btn-informar-lata-tinta"
        (click)="exibirLatasDeTinta()"
    >
        Gerar quantidade de latas de tintas
    </button>
    <app-painel-tintas
        *ngIf="paredesInformada"
        [latasTinta]="latasTinta"
    ></app-painel-tintas>
</div>
