$largura: 200px;
$altura: 200px;
$border-parede: 0.31rem;
$margin-right-parede: 0.5rem;

.parede-body {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .parede {
    width: $largura;
    height: $altura;
    border: solid 1px #bdb8ad;
    border-radius: $border-parede;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: $margin-right-parede;
  }

  .btn-confirmar {
    margin-top: 0.62rem;
    margin-right: $margin-right-parede;
    cursor: pointer;
    background-color: #44749d;
    color: #fff;
    border-radius: 0.18rem;
    padding: $border-parede;
    text-decoration: none;
    border: none;

    &:hover {
      background-color: #2E4F6B;
    }

    &:disabled {
      background-color: #c6d4e1;
    }
  }

  .mensagem-alerta {
    color: red;
    width: $largura;
  }

  .mensagem-sucesso {
    color: green;
    width: $largura;
  }
}

.titulo {
  width: $largura;
}

