<div class="titulo">
    <h3 style="text-align: center">{{ titulo }}</h3>
</div>
<form [formGroup]="paredeForm.formGroup">
    <div class="parede-body">
        <div class="parede">
            <app-input-text
                label="Largura *"
                formControlName="largura"
            ></app-input-text>
            <app-input-text
                label="Altura *"
                formControlName="altura"
            ></app-input-text>
            <app-input-text
                label="Quantidade de portas"
                formControlName="portas"
                inputType="number"
            ></app-input-text>
            <app-input-text
                label="Quantidade de janelas"
                formControlName="janelas"
                inputType="number"
            ></app-input-text>
        </div>
        <button
            [disabled]="!paredeForm.formGroup.valid"
            class="btn-confirmar"
            (click)="salvar()"
        >
            Confirmar
        </button>
        <span
            class="mensagem-alerta"
            *ngIf="!paredeValida && paredeForm.formGroup.valid"
        >
            {{ mensagemAlerta }}
        </span>
        <span
            class="mensagem-sucesso"
            *ngIf="paredeValida"
        >
            Confirmado com sucesso
        </span>
    </div>
</form>
